<!doctype html> 
<html>
    <head>
    
    </head>
    <body>
        <form method = "post" action="/something1">  
            username: <input type="text" name="name"/>
            password: <input type="text" name="password"/>
            submit: <input type="submit" value="submit"/>
            <!-- when we submit usernames and passwords and click submit, we want flask to come in, process the request & give us something in return --->
            <!-- we want to post information - when I press submit, I want to submit a post request, I don't want to retrieve information, I want it to do something with the information---->
            <!-- action refers to which route we send the request to - send the post request to a specific route--->
        </form>
    </body>
</html>
