<!doctype html> 

<html>
    <head>
    <body>
        <form> method = "post" action="/something"> #says that when I submit the form, I will submit it as a post request
        #action is the route we send the post request to 
            username: <input type="text" name="name" />
            password: <input type="text" name = "password"/>
            submit: <input type = "submit" value = "submit"/>
            #this is where flask comes in, we want to submit a request to the server, so our server picks it up, processes the information, returns what's needed
            #different types of requests - common request to get information (get request) 
            
    </body>
    </head>

</html>

#jinja 
